.todo-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
}

.todo-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.todo-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-inputs input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.todo-inputs button {
    background-color: #2563eb;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.todo-inputs button:hover {
    background-color: #1d4ed8;
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.todo-table th,
.todo-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.todo-table th {
    background-color: #f3f4f6;
}

.todo-table tr:hover {
    background-color: #f9fafb;
}

.delete-btn ,.update-btn{
    color: #dc2626;
    background: none;
    border: 1px solid red;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px;
}

.delete-btn:hover , .update-btn:hover {
    text-decoration: underline;
    background-color: red;
    color: white;
}


.update-btn{
    color: blue;
    border: 1px solid blue;
  
}

.update-btn:hover {
    text-decoration: underline;
    background-color: blue;
    color: white;
}
